body{
background: #380842; 
}

ul li{
	display: block;
	padding: 0px;
	margin: 0px;
}

h1{
	text-align: center;
}

.header{
	padding: 10px 160px;
	background: black;
	color: white;
}

#main{
	margin: 10px 130px;
	width: 630px;
	height: 400px;
	background: white;
}

.table{
	width:350px;
	padding: 0px;
	margin: 10px 10px;
 	font-size: 14px;
 	background: white;
 	color: black;
  	border-collapse: collapse;
  	text-align: center;
}

.activ{
	border: 1px solid black;
	box-sizing: border-box;
}

.cell{
	width: 110px;
	height: 100px;
}
